---
import Layout from '@/layouts/Layout.astro'
import { experiences, education, skills, awards, professionalService } from '../data/cv'
import CvTimeline from '@/components/ui/CvTimeline.astro'
import AwardItem from '@/components/ui/AwardItem.astro'
import ServiceItem from '@/components/ui/ServiceItem.astro'
import Heading from '@/components/ui/Heading.astro'
import SkillsCards from '@/components/ui/SkillsCards.astro'
---

<Layout title="CV">
	{
		education.length > 0 && (
			<section class='mb-12'>
				<Heading level={2} underlined={true}>
					Education
				</Heading>
				<CvTimeline elements={education} colored={true} />
			</section>
		)
	}

	{
		experiences.length > 0 && (
			<section class='mb-12'>
				<Heading level={2} underlined={true}>
					Experience
				</Heading>
				<CvTimeline elements={experiences} colored={true} />
			</section>
		)
	}

	{
		awards.length > 0 && (
			<section class='mb-12'>
				<Heading level={2} underlined={true}>
					Awards & Grants
				</Heading>
				<div class="mt-6">
					{awards.map(award => (
						<AwardItem award={award} colored={true} />
					))}
				</div>
			</section>
		)
	}

	{
		professionalService.length > 0 && (
			<section class='mb-12'>
				<Heading level={2} underlined={true}>
					Professional Service
				</Heading>
				<div class="mt-6">
					{professionalService.map(service => (
						<ServiceItem service={service} colored={true} />
					))}
				</div>
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<Heading level={2} underlined={true}>
					Skills
				</Heading>
				<div class="mt-6">
					<SkillsCards skillsList={skills} title="" />
				</div>
			</section>
		)
	}
</Layout>