---
import {social} from '../../settings'
import Icon from './Icon.astro';

const activeSocial = Object.keys(social).filter((key) => social[key as keyof typeof social] !== '')
const calculatedIconSize = activeSocial.length <= 5 ? 'w-6 h-6' : activeSocial.length <= 6 ? 'w-5 h-5' : 'w-4 h-4'
const calculatedContainerSize = activeSocial.length <= 5 ? 'size-12' : activeSocial.length <= 6 ? 'size-10' : 'size-8'

---

<div class='flex flex-wrap justify-between items-center'>

	<!-- Email -->
	{social.email !== '' &&
		<a href={`mailto:${social.email}`} aria-label="Send Email" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="mail" className={calculatedIconSize} />
		</a>
	}

	<!-- GitHub -->
	{social.github !== '' &&
		<a href={social.github} target="_blank" aria-label="View GitHub Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="github" className={calculatedIconSize} />
		</a>
	}

	<!-- GitLab -->
	{social.gitlab !== '' &&
		<a href={social.gitlab} target="_blank" aria-label="View GitLab Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="gitlab" className={calculatedIconSize} pack="lucide" />
		</a>
	}

	<!-- X -->
	{social.x !== '' &&
		<a href={social.x} target="_blank" aria-label="View X/Twitter Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="twitter" className={calculatedIconSize} pack="lucide" />
		</a>
	}

	<!-- Linkedin -->
	{social.linkedin !== '' &&
		<a href={social.linkedin} target="_blank" aria-label="View LinkedIn Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="linkedin" className={calculatedIconSize} />
		</a>
	}

	<!-- Google Scholar -->
	{social.scholar !== '' &&
		<a href={social.scholar} target="_blank" aria-label="View Google Scholar Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="scholar" className={calculatedIconSize} />
		</a>
	}

	<!-- Inspire -->
	{social.inspire !== '' &&
		<a href={social.inspire} target="_blank" aria-label="View Inspire Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="book-open" className={calculatedIconSize} pack="lucide" />
		</a>
	}

	<!-- arxiv -->
	{social.arxiv !== '' &&
		<a href={social.arxiv} target="_blank" aria-label="View arXiv Profile" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Icon name="file-text" className={calculatedIconSize} pack="lucide" />
		</a>
	}
</div>
